.ed {
	color : #EA7500;
}
//change the color

#name :: first-letter{
	color : #EA7500;
	font-size : 250%;
	
}
//first-letter become bigger and change color


h1 {
	font-family : "Copperplate", fantasy;
}
//change the font

a : link{
	color : blue;
}

a : visited{
	color : red;
}

a : hover{
	color : yellow;
}

a : active{
	color : green;
}
//the link will change the color on click, hover

body {
	background-image : url("IMG_0906.jpeg");
	background-repeat : no-repeat;
	background-position : right top;
	background-attachment : scroll;
}
//show the picture
